{% extends "layouts/question.html" %}

{% set pageName = "Can the bird be reached safely?" %}
{% set backLink = "/date-seen" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block form %}

<h1 class="govuk-heading-l">Can the bird be reached safely, without tools or equipment, if we need to collect it?</h1>

<p class="govuk-body">Answer “No” if the bird is:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>in water, or can only be reached by boat</li>
  <li>somewhere difficult to reach, like on a roof or in a tree</li>
  <li>behind a barrier, fence or locked area</li>
  <li>in a location that would be dangerous to access, such as a railway line or motorway</li>
</ul>

<form method="post" novalidate>

  {{ govukRadios({
    name: "accessible",
    fieldset: {
      legend: {
        text: "Can the bird be reached safely, without tools or equipment, if we need to collect it?",
        classes: "govuk-visually-hidden"
      }
    },
    errorMessage: { text: errors.accessible } if errors.accessible,
    items: [
      { value: "yes", text: "Yes", checked: data.accessible == "yes" },
      { value: "no", text: "No", checked: data.accessible == "no" },
      { value: "not-sure", text: "I'm not sure", checked: data.accessible == "not-sure" }
    ]
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
