{% extends "layouts/question.html" %}

{% set pageName = "Describe the dead wild birds" %}
{% set backLink = "/accessible" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block form %}
<form method="post" novalidate>

  {{ govukRadios({
    name: "condition",
    fieldset: {
      legend: {
        text: "Describe the dead wild birds",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: { text: "If you are reporting more than one bird, describe the bird that's in the best condition." },
    errorMessage: { text: errors.condition } if errors.condition,
    items: [
      {
        value: "good",
        text: "Carcass in good condition or mostly intact",
        checked: data.condition == "good"
      },
      {
        value: "decomposed",
        text: "Carcass decomposed",
        hint: { text: "or if it is only, or close to only, bones or feathers present" },
        checked: data.condition == "decomposed"
      },
      {
        value: "mixed",
        text: "Mix of carcass conditions",
        hint: { text: "or if you're not sure" },
        checked: data.condition == "mixed"
      }
    ]
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
