{% extends "layouts/question.html" %}

{% set pageName = "Add a photo of the bird" %}
{% set backLink = "/location" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block form %}

<h1 class="govuk-heading-l">Add a photo of the bird</h1>

<p class="govuk-body">Upload a photo showing the bird and its surroundings.</p>

<p class="govuk-body">Do not touch the bird or put yourself at risk to take a photo.</p>

<form method="post" novalidate>

  {{ govukFileUpload({
    id: "photo",
    name: "photo",
    label: { text: "Upload a photo", classes: "govuk-label--s" },
    attributes: { accept: "image/*" }
  }) }}
  <input type="hidden" name="photoName" id="photoName" value="{{ data.photo }}">

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
