{% extends "layouts/main.html" %}

{% set pageName = "Sick or injured birds" %}
{% set backLink = "/are-you-reporting-a-dead-bird" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sick or injured birds</h1>

    <p class="govuk-body">This service is to report dead wild birds that may have died from disease, including bird flu.</p>

    <p class="govuk-body">If you’ve found a sick or injured bird, follow the guidance for <a class="govuk-link" href="https://www.gov.uk/guidance/dead-or-injured-wild-animals" rel="noreferrer noopener" target="_blank">reporting other dead, sick or injured animals</a>.</p>

    <p class="govuk-body">If you keep poultry or captive birds and suspect bird flu, read guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/avian-influenza-bird-flu" rel="noreferrer noopener" target="_blank">the signs of bird flu and how to report it</a>.</p>

  </div>
</div>
{% endblock %}
