{#
The "Risks to humans from bird flu" section, shown at the foot of the
"no collection" exit pages.
#}
<h2 class="govuk-heading-m">Risks to humans from bird flu</h2>

<p class="govuk-body">The risk of bird flu passing from infected dead birds to humans is low. You can read <a class="govuk-link" href="https://www.nhs.uk/conditions/bird-flu/" rel="noreferrer noopener" target="_blank">NHS guidance on the risks to humans from bird flu</a>.</p>

<p class="govuk-body">If you’re concerned about symptoms, phone the NHS on 111.</p>
