{% extends "layouts/main.html" %}

{% set pageName = "We are unable to collect this bird" %}
{% set backLink = "/accessible" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">We are unable to collect this bird</h1>

    <p class="govuk-body">This service is to report dead wild birds that may have died from disease, including bird flu.</p>

    <p class="govuk-body">Based on your description, we are unable to collect the bird(s) you have reported.</p>

    <p class="govuk-body">You do not need to do anything.</p>

    <p class="govuk-body">If you want to dispose of the bird or ask for it to be removed, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

    {% include "includes/risks-to-humans.html" %}

  </div>
</div>
{% endblock %}
