{% extends "layouts/main.html" %}

{% set pageName = "Report dead wild birds" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Report dead wild birds</h1>

    <h2 class="govuk-heading-m">What to report</h2>

    <p class="govuk-body">You should only use this service to report birds that may have died from disease. You should report:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>any dead birds of prey, swans, geese, ducks, gulls or, in Scotland, any blackbirds</li>
      <li>5 or more dead wild birds of any other species found in the same area at the same time</li>
    </ul>

    <h2 class="govuk-heading-m">What not to report</h2>

    <p class="govuk-body">Do not report:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>living birds that are sick or injured</li>
      <li>birds that have died from injury (for example run over by a car or flown into a window)</li>
      <li>4 or fewer dead birds, except for the species already mentioned</li>
    </ul>

    <p class="govuk-body">If you’re under 18, ask a parent or guardian to fill in this form.</p>

    {{ govukButton({
      text: "Start now",
      href: basePath + "/are-you-reporting-a-dead-bird",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">What we do</h2>

    <p class="govuk-body">We decide which dead birds to collect based on their location and likely condition. We test those we collect for bird flu or other diseases. Your report may help us understand how diseases are spreading.</p>

    <p class="govuk-body">If you believe a bird has symptoms of a disease but does not meet the criteria for reporting, telephone us on 03459 33 55 77 (<a class="govuk-link" href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">find out about call charges</a>).</p>

    <h2 class="govuk-heading-m">Other services that help with dead and injured birds</h2>

    <p class="govuk-body">If you want to know how to dispose of dead wild birds or ask for them to be removed, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

    <p class="govuk-body">If you’ve found a dead wild bird and suspect it has died as a result of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>wildlife crime, you must <a class="govuk-link" href="https://www.gov.uk/government/publications/wildlife-crime-and-how-to-report-it" rel="noreferrer noopener" target="_blank">report it to the police</a></li>
      <li>poisoning from pesticides or rodenticides, call the <a class="govuk-link" href="https://www.hse.gov.uk/pesticides/reducing-environmental-impact/wildlife/wildlife-incident-investigation-scheme.htm" rel="noreferrer noopener" target="_blank">Wildlife Incident Investigation Scheme (WISS)</a> on 0800 321 600 (calls are free)</li>
    </ul>

    <p class="govuk-body">If you’ve found a sick or injured bird that is still alive, follow the <a class="govuk-link" href="https://www.rspb.org.uk/birds-and-wildlife/if-you-find-an-injured-bird" rel="noreferrer noopener" target="_blank">RSPB’s guidance on what to do</a>.</p>

    <p class="govuk-body">If you’ve found a small number of dead garden birds or pigeons, you can report them through the <a class="govuk-link" href="https://www.gardenwildlifehealth.org/gwh-database/" rel="noreferrer noopener" target="_blank">Garden Wildlife Health reporting service</a>.</p>

  </div>
</div>
{% endblock %}
