{% extends "layouts/question.html" %}

{% set pageName = "Can the bird be reached safely?" %}
{% set backLink = "/bird-type-and-number" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block form %}

<h1 class="govuk-heading-l">Can the bird be reached safely, without tools or equipment?</h1>

<div class="govuk-hint">Answer ‘No’ if the bird is:</div>

<ul class="govuk-list govuk-list--bullet govuk-hint">
  <li>in water and can only be reached by boat</li>
  <li>somewhere that would need a ladder, like on a roof or in a tree</li>
  <li>behind a barrier, fence or locked area (unless it is on your property)</li>
  <li>in a location that would be dangerous to access, such as a railway line or motorway</li>
</ul>

<form method="post" novalidate>

  {{ govukRadios({
    name: "accessible",
    fieldset: {
      legend: {
        text: "Can the bird be reached safely, without tools or equipment?",
        classes: "govuk-visually-hidden"
      }
    },
    errorMessage: { text: errors.accessible } if errors.accessible,
    items: [
      { value: "yes", text: "Yes", checked: data.accessible == "yes" },
      { value: "no", text: "No", checked: data.accessible == "no" },
      { value: "not-sure", text: "I'm not sure", checked: data.accessible == "not-sure" }
    ]
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
