{% extends "layouts/main.html" %}

{% set pageName = "Number of birds is too low" %}
{% set backLink = "/bird-type-and-number" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Number of birds is too low</h1>

    <p class="govuk-body">Thank you for making this report, but we do not need to make a collection.</p>

    {{ govukWarningText({ text: "Our operators will not collect birds below the required number.", iconFallbackText: "Warning" }) }}

    <p class="govuk-body">You should report:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>1 or more dead birds of prey, swans, geese, ducks, seabirds or, in Scotland, any blackbirds</li>
      <li>5 or more dead wild birds of any other species found in one area at the same time</li>
    </ul>

    <p class="govuk-body">If you want to know how to dispose of dead wild birds on your property or ask for them to be removed from public land, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

    {% include "includes/risks-to-humans.html" %}

  </div>
</div>
{% endblock %}
