{% extends "layouts/question.html" %}

{% set pageName = "Your details" %}
{% set backLink = "/anything-else" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block form %}

<h1 class="govuk-heading-l">Your details</h1>

<p class="govuk-body">We’ll only use your details to contact you about this report. <a class="govuk-link" href="https://www.gov.uk/government/publications/report-dead-wild-birds-privacy-notice" rel="noreferrer noopener" target="_blank">Find out more about how we use your information</a>.</p>

<p class="govuk-body">We may need to contact you for more information about the location or if the bird tests positive for a disease.</p>

<p class="govuk-body">If you’re under 18, ask a parent or guardian to provide their contact details.</p>

<h2 class="govuk-heading-m">Name and contact details</h2>

<form method="post" novalidate>

  {{ govukInput({
    label: { text: "Your name", classes: "govuk-label--s" },
    id: "name",
    name: "name",
    autocomplete: "name",
    classes: "govuk-!-width-one-half",
    errorMessage: { text: errors.name } if errors.name,
    value: data.name
  }) }}

  {{ govukInput({
    label: { text: "Email address", classes: "govuk-label--s" },
    id: "email",
    name: "email",
    type: "email",
    autocomplete: "email",
    spellcheck: false,
    classes: "govuk-!-width-two-thirds",
    errorMessage: { text: errors.email } if errors.email,
    value: data.email
  }) }}

  {{ govukInput({
    label: { text: "Telephone number (optional)", classes: "govuk-label--s" },
    id: "phone",
    name: "phone",
    type: "tel",
    autocomplete: "tel",
    classes: "govuk-!-width-one-half",
    errorMessage: { text: errors.phone } if errors.phone,
    value: data.phone
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
