{% extends "layouts/question.html" %}

{% set pageName = "How do you want to tell us where you saw the bird?" %}
{% set backLink = "/date-seen" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block form %}
<form method="post" novalidate>

  {{ govukRadios({
    name: "locationMethod",
    fieldset: {
      legend: {
        text: "How do you want to tell us where you saw the bird?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: { text: "You'll give the exact location on the next page. Choose the way that's easiest for you." },
    errorMessage: { text: errors.locationMethod } if errors.locationMethod,
    items: [
      { value: "map", text: "Point to it on a map", hint: { text: "Best if you do not know the postcode." }, checked: data.locationMethod == "map" },
      { value: "address", text: "Enter an address or postcode", checked: data.locationMethod == "address" },
      { value: "what3words", text: "Enter a what3words location", hint: { text: "A 3-word reference to a 3 metre square, from the what3words app or website." }, checked: data.locationMethod == "what3words" }
    ]
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
