{% extends "layouts/question.html" %}

{% set pageName = "Enter the what3words location" %}
{% set backLink = "/location" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block form %}
<form method="post" novalidate>

  {{ govukInput({
    label: { text: "Enter the what3words location", classes: "govuk-label--l", isPageHeading: true },
    id: "what3words",
    name: "what3words",
    classes: "govuk-input--width-20",
    hint: { text: "A 3-word reference to a 3 metre square, for example ///filled.count.soap. Get it from the what3words app or website." },
    errorMessage: { text: errors.what3words } if errors.what3words,
    value: data.location.what3words if data.location
  }) }}

  {{ govukCharacterCount({
    id: "locationInfo",
    name: "locationInfo",
    maxlength: 500,
    label: { text: "Tell us any other information about the location, such as landmarks or buildings (optional)", classes: "govuk-label--s" },
    errorMessage: { text: errors.locationInfo } if errors.locationInfo,
    value: data.location.info if data.location
  }) }}

  {{ govukButton({ text: "Continue" }) }}

  <p class="govuk-body"><a class="govuk-link" href="{{ basePath }}/location">Tell us the location a different way</a></p>

</form>
{% endblock %}
