{% extends "layouts/question.html" %}

{% set pageName = "Enter what3words" %}
{% set backLink = "/location" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block form %}
<form method="post" novalidate>

  <h1 class="govuk-heading-l">Enter what3words</h1>

  <p class="govuk-body">Use the what3words website to get a 3-word reference to a 3 metre square.</p>

  {{ govukInput({
    label: { text: "what3words location", classes: "govuk-label--s" },
    id: "what3words",
    name: "what3words",
    classes: "govuk-input--width-20",
    prefix: { text: "///" },
    hint: { text: "For example, spare.coach.loops. Do not enter /// before the 3 words" },
    errorMessage: { text: errors.what3words } if errors.what3words,
    value: data.location.what3words if data.location
  }) }}

  {{ govukCharacterCount({
    id: "locationInfo",
    name: "locationInfo",
    maxlength: 500,
    label: { text: "Tell us any other information about how to get to the location and find the dead bird, such as landmarks or buildings (optional)", classes: "govuk-label--s" },
    errorMessage: { text: errors.locationInfo } if errors.locationInfo,
    value: data.location.info if data.location
  }) }}

  {{ govukButton({ text: "Continue" }) }}

  <p class="govuk-body"><a class="govuk-link" href="{{ basePath }}/location">Tell us the location a different way</a></p>

</form>
{% endblock %}
