{% extends "layouts/question.html" %}

{% set pageName = "Where is the bird?" %}
{% set backLink = "/date-seen" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block form %}
<form method="post" novalidate>

  {{ govukRadios({
    name: "locationMethod",
    fieldset: {
      legend: {
        text: "Where is the bird?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: { text: "Select one option to give us the most precise location for the bird." },
    errorMessage: { text: errors.locationMethod } if errors.locationMethod,
    items: [
      { value: "map", text: "Put a pin on a map", checked: data.locationMethod == "map" },
      { value: "address", text: "Address and postcode", checked: data.locationMethod == "address" },
      { value: "what3words", text: "Enter a what3words location", hint: { text: "Use the what3words website to get a 3-word reference to a 3m square." }, checked: data.locationMethod == "what3words" }
    ]
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
