{% extends "layouts/question.html" %}

{% set pageName = "Tell us anything else that could help us" %}
{% set backLink = "/photo" %}

{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block form %}
<form method="post" novalidate>

  {{ govukCharacterCount({
    id: "locationDetails",
    name: "locationDetails",
    maxlength: 500,
    label: {
      text: "Tell us anything else that could help us (optional)",
      isPageHeading: true,
      classes: "govuk-label--l"
    },
    errorMessage: { text: errors.locationDetails } if errors.locationDetails,
    value: data.locationDetails
  }) }}

  {{ govukButton({ text: "Continue" }) }}

</form>
{% endblock %}
