{% extends "layouts/main.html" %}

{% set pageName = "Reporting dead wild birds in Northern Ireland" %}
{% set backLink = "/location" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Reporting dead wild birds in Northern Ireland</h1>

    <p class="govuk-body">This service covers England, Scotland and Wales. It looks like the bird you found is in Northern Ireland, which has its own reporting service.</p>

    <p class="govuk-body">To report a dead wild bird in Northern Ireland, contact the Department of Agriculture, Environment and Rural Affairs (DAERA) and read the guidance on <a class="govuk-link" href="https://www.daera-ni.gov.uk/articles/report-dead-wild-birds" rel="noreferrer noopener" target="_blank">reporting dead wild birds in Northern Ireland</a>.</p>

    <p class="govuk-body">Do not touch the bird. Your report to DAERA helps them monitor the spread of bird flu and other diseases.</p>

  </div>
</div>
{% endblock %}
