{% extends "layouts/main.html" %}

{% set pageName = "Report dead wild birds in Northern Ireland" %}
{% set backLink = "/location" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Report dead wild birds in Northern Ireland</h1>

    <p class="govuk-body">This service is to report dead wild birds that may have died from disease, including bird flu in England, Scotland and Wales.</p>

    <p class="govuk-body">In Northern Ireland (NI), please report to <a class="govuk-link" href="https://www.daera-ni.gov.uk/services/daera-dead-wild-bird-online-reporting-tool" rel="noreferrer noopener" target="_blank">DAERA via their online reporting system</a>.</p>

  </div>
</div>
{% endblock %}
