{% extends "layouts/main.html" %}

{% set pageName = "This bird is unlikely to be collected" %}
{% set backLink = "/accessible" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">This bird is unlikely to be collected</h1>

    <p class="govuk-body">You told us this bird cannot be reached safely. We only collect birds that can be reached without special equipment or putting anyone at risk, so we do not need to collect it.</p>

    <p class="govuk-body">Do not put yourself at risk to move or reach the bird.</p>

    <p class="govuk-body">If you want to dispose of the bird or ask for it to be removed, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

  </div>
</div>
{% endblock %}
