{% extends "layouts/main.html" %}

{% set pageName = "Report dead wild birds" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Report dead wild birds</h1>

    <h2 class="govuk-heading-m">How to report dead wild birds</h2>

    <p class="govuk-body">Use this service to report dead wild birds that may have died from disease as this helps us understand how diseases are spreading.</p>

    <p class="govuk-body">Public reports of dead wild birds help us to track diseases and identify appropriate responses.</p>

    <p class="govuk-body">Reports help explain where bird flu is in Great Britain and in which types of wild birds.</p>

    <p class="govuk-body">Not all dead wild birds have been infected with bird flu.</p>

    <h3 class="govuk-heading-s">Do not use this service to report</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>sick and injured birds</li>
      <li>birds where the cause of death is known (that have not died from disease, for example run over by a car or flown into a window)</li>
      <li>a small number of garden birds and pigeons — please use <a class="govuk-link" href="https://www.gardenwildlifehealth.org/gwh-database/" rel="noreferrer noopener" target="_blank">Report Online - Garden Wildlife Health</a> for this</li>
    </ul>

    <h3 class="govuk-heading-s">Do use this service if, at the same time, you find</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>a single dead bird of prey, swan, goose, duck, gull (or blackbird in Scotland only)</li>
      <li>five or more dead wild birds of any other species</li>
    </ul>

    <p class="govuk-body">We may collect and test reported birds for bird flu or other diseases.</p>

    <p class="govuk-body">If you’re under 18, ask a parent or guardian to fill in this form.</p>

    {{ govukButton({
      text: "Start now",
      href: basePath + "/are-you-reporting-a-dead-bird",
      isStartButton: true
    }) }}

    <p class="govuk-body">When you submit a report, we’ll ask for your contact details.</p>

    <p class="govuk-body">You can also report dead wild birds by phone on 03459 33 55 77 (<a class="govuk-link" href="https://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">find out about call charges</a>).</p>

    {{ govukWarningText({
      text: "Do not touch dead birds with bare hands",
      iconFallbackText: "Warning"
    }) }}

    <p class="govuk-body">If you want to know how to dispose of dead wild birds or ask for them to be removed, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

    <p class="govuk-body">If you have found a dead wild bird and suspect it has died as a result of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>wildlife crime, you must <a class="govuk-link" href="https://www.gov.uk/government/publications/wildlife-crime-and-how-to-report-it" rel="noreferrer noopener" target="_blank">report them to the police</a></li>
      <li>poisoning from pesticides or rodenticides, call the <a class="govuk-link" href="https://www.hse.gov.uk/pesticides/reducing-environmental-impact/wildlife/wildlife-incident-investigation-scheme.htm" rel="noreferrer noopener" target="_blank">Wildlife Incident Investigation Scheme (WISS)</a> on 0800 321 600 (calls are free)</li>
    </ul>

    <p class="govuk-body">If you’ve found a sick or injured bird, follow the guidance for <a class="govuk-link" href="https://www.gov.uk/report-dead-animal" rel="noreferrer noopener" target="_blank">reporting other dead, sick or injured animals</a>.</p>

  </div>
</div>
{% endblock %}
