{% extends "layouts/main.html" %}

{% set pageName = "Outside date range for viable testing" %}
{% set backLink = "/date-seen" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Outside date range for viable testing</h1>

    <p class="govuk-body">This service is to report dead wild birds that may have died from disease, including bird flu.</p>

    <p class="govuk-body">Based on the information available, we do not need to collect this bird as it has been exposed to the elements for too long.</p>

    <p class="govuk-body">You do not need to do anything.</p>

    <p class="govuk-body">If you want to dispose of the bird or ask for it to be removed, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

  </div>
</div>
{% endblock %}
