{% extends "layouts/main.html" %}

{% set pageName = "Outside viable date testing range" %}
{% set backLink = "/date-seen" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Outside viable date testing range</h1>

    <p class="govuk-body">This service is to report dead wild birds that may have died from disease, including bird flu.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>we can only test for disease on bird carcasses that are in a good condition and have not been exposed outdoors for too long a period</li>
    </ul>

  </div>
</div>
{% endblock %}
