{% extends "layouts/main.html" %}

{% set pageName = "Body is not suitable" %}
{% set backLink = "/date-seen" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Body is not suitable</h1>

    <p class="govuk-body">Thank you for making this report, but we do not need to make a collection.</p>

    <p class="govuk-body">Unfortunately, birds that have been dead for more than 48 hours are likely to be too decomposed to test.</p>

    {{ govukWarningText({ text: "Our operators will not collect decomposing birds for testing.", iconFallbackText: "Warning" }) }}

    <p class="govuk-body">If you want to know how to dispose of dead wild birds on your property or ask for them to be removed from public land, read the guidance on <a class="govuk-link" href="https://www.gov.uk/guidance/removing-and-disposing-of-dead-wild-birds" rel="noreferrer noopener" target="_blank">removing and disposing of dead wild birds</a>.</p>

    {% include "includes/risks-to-humans.html" %}

  </div>
</div>
{% endblock %}
