{% extends "layouts/main.html" %}

{% set pageName = "Choose a version" %}

{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Report a dead wild bird</h1>

    <p class="govuk-body">This prototype has more than one version of the service. Choose a version to try it. Each version is separate, so your answers in one do not affect another.</p>

    <ul class="govuk-list app-version-list">
      {% for version in versions %}
        <li class="app-version">
          <h2 class="govuk-heading-m app-version__heading">
            <a class="govuk-link" href="/{{ version.id }}">Version {{ version.number }}</a>
            {% if version.current %}{{ govukTag({ text: "Current" }) }}{% endif %}
          </h2>
          <p class="govuk-body-s govuk-!-margin-bottom-1"><strong>Updated:</strong> {{ version.date }}</p>
          <p class="govuk-body">{{ version.summary }}</p>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}
